.venv
__pycache__

Analysing and Interpreting the Yield Curve (Wiley Finance) -- Moorad Choudhry, Christopher Westcott -- Wiley Finance, 2nd, 2019 -- Wiley & Sons, -- 9781119141044 -- 59322745261d62ba9c899f98056c2f43 -- Anna’s Archive.pdf
Analysing and Interpreting the Yield Curve.pdf